<h2>INDEX</h2>
<ul>
  <li><a href="{{ "/" | relURL }}">/ HOME</a></li>
  {{ range .Site.Sections.ByTitle }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ with .Pages }}
        <ul>
          {{ range .ByTitle }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Sections }}
        <ul>
          {{ range .ByTitle }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
  {{ end }}
</ul>
