<h2>INDEX</h2>
<ul class="tree">
  {{ range .Site.Sections.ByTitle }}
    <li>
      <details>
        <summary><a href="{{ .RelPermalink }}">{{ .Title }}</a></summary>
        <ul>
          {{ range .Pages.ByTitle }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ range .Sections.ByTitle }}
            <li>
              <details>
                <summary><a href="{{ .RelPermalink }}">{{ .Title }}</a></summary>
                <ul>
                  {{ range .Pages.ByTitle }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                  {{ end }}
                </ul>
              </details>
            </li>
          {{ end }}
        </ul>
      </details>
    </li>
  {{ end }}
</ul>